<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/home.css?=126379">
</head>
<body data-url="{{ url_for('home') }}">
    <h1>PriCoSha Home</h1>
    You are logged in as {{ email }}. <br>
    <button class="btn btn-primary btn-large" id="to-post-content-btn">Post a content item</button>
    <button class="btn btn-primary btn-large" id="to-add-friend-btn">Add a friend to a group</button>
    <br>
    <br>

    <h2>Your Feed:  </h2>
    <ul class="list-group">
    {% if contentitems %}
    {% for item in contentitems %}
        <li class="list-group-item">
            <div>
                <ul>
                    <li>Item ID: {{ item.item_id }}</li>
                    <li>Poster: {{ item.email_post }}</li>
                    <li>Post Time: {{ item.post_time }}</li>
                    <li>File Path: {{ item.file_path }}</li>
                    <li>Item Name: {{ item.item_name }}</li>
                </ul>
            </div>
            <br>
            <div>
                Tag a person (Enter their email): <input type="text" class="tag-name">
                <button class="btn btn-primary add-tag-btn" value="{{ item.item_id }}">Tag</button>
                <input type="hidden" class="hidden-fg-name" value="{{ item.fg_name }}">
                <input type="hidden" class="hidden-owner-email" value="{{ item.owner_email }}">
            </div>
            <p>Tagged people:
            {% for tag in tags %}
            {% if tag.item_id == item.item_id and tag.status == '1' %} 
                {{ tag.fname }} {{ tag.lname }}, 
            {% endif %}
            {% endfor %}
            </p>
            <p>Ratings:</p>
            <ul>
            {% for rating in ratings %}
            {% if rating.item_id == item.item_id %} 
                <li>{{ rating.email }} rated with {{ rating.emoji }} </li>
            {% endif %}
            {% endfor %}
            </ul>
        </li>
        
        <div>
        {% for tag in tags %}
        {% if tag.item_id == item.item_id and tag.status == '0' and tag.email_tagged == email %} 
            A user wants to tag you in the above item. Accept the tag?
            <button class="accept-tag-btn btn btn-small" value="{{ item.item_id }}">Yes</button>
            <button class="decline-tag-btn btn btn-small" value="{{ item.item_id }}">No</button>
            <br>
        {% endif %}
        {% endfor %}
            
        </div>
    {% endfor %}
    {% endif %}
    </ul>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        $(".accept-tag-btn").click((e) => {
            data = {
                type: "TAG",
                action: "ACCEPT",
                item_id: parseInt(e.target.value)
            };
            $.ajax({
                url: "http://localhost:"+location.port+"/home/",
                method: "POST",
                data: JSON.stringify(data),
                success: (response) => {
                    console.log("accepted tag");
                    e.target.parentNode.remove();
                }
            })
        });
        $(".decline-tag-btn").click((e) => {
            data = {
                type: "TAG",
                action: "DECLINE",
                item_id: parseInt(e.target.value)
            };
            $.ajax({
                url: "http://localhost:"+location.port+"/home/",
                method: "POST",
                data: JSON.stringify(data),
                success: (response) => {
                    console.log("declined tag");
                    e.target.parentNode.remove();
                }
            })
        });

        $(".add-tag-btn").click((e) => {
            data = {
                type: "TAG",
                action: "ADD",
                item_id: parseInt(e.target.value),
                email_tagged: $(e.target).siblings(".tag-name").val(),
                fg_name: $(e.target).siblings(".hidden-fg-name").val(),
                owner_email: $(e.target).siblings(".hidden-owner-email").val(),
            };
            $.ajax({
                url: "http://localhost:"+location.port+"/home/",
                method: "POST",
                data: JSON.stringify(data),
                success: (response) => {
                    console.log("Successful add tag");
                    if (response.redirect == "not visible")
                        alert("The item is not visible to the person you tried to tag, or the person doesn't exist.")
                    else if (response.redirect == "exists")
                        alert("This person is already tagged on this item.")
                    else if (response.redirect == "success")
                        alert("You have added a tag. The tagged person must accept the tag for it to appear (unless you tagged yourself).")
                }
            });
        });

        $("#to-post-content-btn").click((e) => {
            location.href = "http://localhost:"+location.port+"/post_content/"
        });
        $("#to-add-friend-btn").click((e) => {
            location.href = "http://localhost:"+location.port+"/add_friend/"
        });
    </script>
</body>
</html>